<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :'Sandwich Type', :class => 'control-label' %>
    <div class="controls">
     <%= f.select :description, [['BLT','BLT'],['PBJ & Bacon','PBJ & Bacon'],['Mexican (yeah we dont know what kind that is either)','Mexican']] %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
