<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :'Sandwich Type', :class => 'control-label' %>
    <div class="controls">
     <%= f.select :description, [['BALT (Bacon, Lettuce, Avocado & Tomato)','BALT'],['Tomcat (Hot Pastrami, bacon, cream cheese & avocado)','Tomcat'],['Caprese (Fresh mozzarella cheese, fresh basil, Italian seasoning & balsamic vinaigrette)','Caprese']] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ordered_for, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ordered_for, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
