<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @order.description %>
</p>

<p>
  <b>Ordered by:</b>
  <%= @order.ordered_by %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
