<p id="notice"><%= notice %></p>

<div>Hey man, thanks for ordering from Fred's Famous Sandwiches. <br />
		 We, like, really appreciate it
</div>
<p>
  <b>You ordered a:</b>
  <%= @order.description %>
</p>

<p>
  <b>It was ordered by:</b>
  <%= @order.ordered_by %>
	<br />
	<font size="1"> (So you'll know who to blame if it's messed up) </font>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
